
.vs/Glitch Garden/v16/Server/sqlite3/db.lock
.vs/Glitch Garden/v16/Server/sqlite3/storage.ide
.vs/Glitch Garden/v16/Server/sqlite3/storage.ide-shm
.vs/Glitch Garden/v16/Server/sqlite3/storage.ide-wal
Library/shadercompiler-UnityShaderCompiler.exe0.log
Temp/UnityLockfile
